body {
  font-family: "Fira Code", monospace;
  background-color: #1e1e1e;
  color: #ddd;
  line-height: 1.6;
  padding: 2rem;
}

pre {
  margin-top: 0;
  background-color: #2d2d2d;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}
