body {
  font-family: "Fira Code", monospace;
  background-color: #1e1e1e;
  color: #ddd;
  line-height: 1.6;
  padding: 2rem;
}

#spreadsheet table,
#spreadsheet td,
#spreadsheet th {
  color: #1e1e1e;
}